In [4]:
sc

In [2]:
!pwd

/home/ubuntu/spark_study

In [2]:
df =spark.read.format("csv")\
.option('header','true')\
.option('inferSchema','true')\
.load("file:///home/ubuntu/Spark-The-Definitive-Guide/data/retail-data/all/*.csv")\
.coalesce(5)

df.cache()
df.createOrReplaceTempView('dfTable')

In [3]:
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [4]:
df.count()

541909

In [5]:
from pyspark.sql.functions import sum, count, avg, expr
df.select(
    count("Quantity").alias("total_transactions"))\
.selectExpr("total_transactions").show()

+------------------+
|total_transactions|
+------------------+
|            541909|
+------------------+

In [7]:
from pyspark.sql.functions import count
df.groupBy("InvoiceNo").agg(count("Quantity"), expr("count(Quantity)")).show()

+---------+---------------+---------------+
|InvoiceNo|count(Quantity)|count(Quantity)|
+---------+---------------+---------------+
|   536596|              6|              6|
|   536938|             14|             14|
|   537252|              1|              1|
|   537691|             20|             20|
|   538041|              1|              1|
|   538184|             26|             26|
|   538517|             53|             53|
|   538879|             19|             19|
|   539275|              6|              6|
|   539630|             12|             12|
|   540499|             24|             24|
|   540540|             22|             22|
|  C540850|              1|              1|
|   540976|             48|             48|
|   541432|              4|              4|
|   541518|            101|            101|
|   541783|             35|             35|
|   542026|              9|              9|
|   542375|              6|              6|
|  C542604|              8|              8|
+---------+---------------+---------------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import count
df.groupBy("InvoiceNo").agg(count("Quantity").alias("quan"), expr("count(Quantity)")).show()

+---------+----+---------------+
|InvoiceNo|quan|count(Quantity)|
+---------+----+---------------+
|   536596|   6|              6|
|   536938|  14|             14|
|   537252|   1|              1|
|   537691|  20|             20|
|   538041|   1|              1|
|   538184|  26|             26|
|   538517|  53|             53|
|   538879|  19|             19|
|   539275|   6|              6|
|   539630|  12|             12|
|   540499|  24|             24|
|   540540|  22|             22|
|  C540850|   1|              1|
|   540976|  48|             48|
|   541432|   4|              4|
|   541518| 101|            101|
|   541783|  35|             35|
|   542026|   9|              9|
|   542375|   6|              6|
|  C542604|   8|              8|
+---------+----+---------------+
only showing top 20 rows